<div class="dapp-container">
    <div class="w-full">
        <!-- <div class="grid">
            <div class="col-12 md:col-12 lg:col-12 px-2 pb-4 pt-2">
                <span class="text-gray-600">
                    Cras a euismod nunc, et semper nibh. Etiam hendrerit lorem libero, <img
                        src="./../../../../assets/img/home/humedifi_logo.png" width="80"
                        style="margin: 2px 3px -4px 3px;" /> vitae venenatis mauris venenatis
                    ac. Maecenas consectetur quam ut risus ullamcorper consequat. Proin ac felis vitae enim eleifend
                    gravida.
                </span>
            </div>
        </div> -->
        <app-balance-info (filterTransactions)="filterTransactions($event)"></app-balance-info>
        <div class="grid pt-2">
            <div class="col-12 md:col-12 lg:col-12">
                <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                    <div class="flex-wrap card-container overflow-hidden w-full">
                        <div class="bg-white px-5 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                            <div class="w-full">
                                <div class="grid pt-2">
                                    <div class="col-12 md:col-12 lg:col-6">
                                        <div class="text-xl font-medium mb-3" style="color: #ef4943">
                                            Transactions
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-12 lg:col-6 text-right">
                                        <button pButton type="button" label="Export" icon="pi pi-download"
                                            class="p-button p-button-success" [style]="{'margin-top':'-10px'}"></button>
                                    </div>
                                </div>
                                <app-transactions></app-transactions>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>