<div>
    <!-- for the resposive sidebar menu -->
</div>

<div class="header-container">

    <div class="grid">

        <div class="col-6 align-items-right">{{titleName}}</div>
        <div class="col-6 align-items-right">
            <p-menubar class="align-items-right" [model]="menuItems">
                <ng-template pTemplate="end">

                </ng-template>
            </p-menubar>
        </div>
        <div class="col-9 align-content-center">
            <!-- <div class="flex align-content-center">
                <div class="flex align-items-center header-title text-gray-800"
                    style="min-width: 200px; min-height: 30px;">
                    {{titleName}}
                </div>
            </div> -->
        </div>
        <div class="col-3 text-right">
            <div class="p-inputgroup">
                <p-dropdown [options]="networks" placeholder="Network" [(ngModel)]="selected_network"
                    class="p-inputtext-sm" optionValue="name" [style]="{'width':'100%'}"
                    (onChange)="networkOnChange($event)">
                    <ng-template pTemplate="selectedItem">
                        <div class="my-dropdown-selected-item">
                            <i *ngIf="selected_network == 'testnet'" class="testnet-icon"></i>
                            <i *ngIf="selected_network == 'devnet'" class="devnet-icon"></i>
                            &nbsp;
                            <span class="text-xl">
                                {{selected_network}}
                            </span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">

                        <div class="my-dropdown-selected-item">
                            <i class={{item.icon}}></i>
                            &nbsp;
                            <span class="text-xl">
                                {{item.name}}
                            </span>
                        </div>

                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>
</div>

<!-- <div class="breadcrumb-container">
    <p-breadcrumb [model]="menuItems" [home]="home"></p-breadcrumb>
</div> -->

<!-- <p-dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}"
    [(visible)]="displayChangeAccountDialog" [modal]="true" [maximizable]="true">
    <app-wallet [isLogin]="true"></app-wallet>
</p-dialog> -->