<div class="dapp-container">
    <div class="w-full">
        <!-- <div class="grid">
            <div class="col-12 md:col-12 lg:col-12 px-2 pb-4 pt-2">
                <span class="text-gray-600">
                    Pellentesque fermentum, ut consectetur eros
                    ex ornare lectus. <img src="./../../../../assets/img/home/humedifi_logo.png" width="80"
                        style="margin: 2px 3px -4px 3px;" /> Pellentesque pulvinar neque quis est vulputate sagittis.
                    Aliquam nec sapien et lorem faucibus mattis sed sed lorem. Ut sed tincidunt dolor, non placerat est.
                    Ut id vestibulum lectus. Donec condimentum nibh non turpis dignissim semper. Proin sollicitudin
                    nulla a augue fermentum tempor.
                </span>
            </div>
        </div> -->
        <!-- <app-balance-info></app-balance-info> -->
        <div class="grid">
            <div class="col-12 md:col-12 lg:col-12">
                <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                    <div class="flex-wrap card-container overflow-hidden w-full">
                        <div class="bg-white px-5 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                            <div class="w-full">
                                <!-- <div class="grid pt-2">
                                    <div class="col-12 md:col-12 lg:col-6">
                                        <div class="text-xl font-medium mb-3" style="color: #ef4943">
                                            Blocks
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-12 lg:col-6 text-right">
                                       
                                    </div>
                                </div> -->
                                <p-table [value]="blocks" responsiveLayout="scroll" [scrollable]="true"
                                    scrollHeight="flex">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th
                                                style="max-width: 350px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                Hash</th>
                                            <th
                                                style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                Blocks</th>
                                            <th
                                                style="max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                Extrinsics</th>
                                            <th
                                                style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                Time</th>
                                            <th
                                                style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                Age</th>
                                            <th
                                                style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                Weights</th>
                                            <th style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                Signature</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-block>
                                        <!-- <tr>
                                            <td style="width: 10px">{{ convertMsToTime(block.timestamp)}}</td>
                                            <td style="width: 10px">{{block.block}}</td>
                                            <td style="width: 100%">

                                            </td>
                                            <td style="width: 10px">{{block.weight | number}}</td>
                                            <td style="width: 10px">{{ getSubstring(block.signature)}}</td>
                                        </tr> -->
                                        <tr class="transaction-tr">
                                            <td
                                                style="max-width: 350px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                <button pButton type="button" label="{{block.hash}}" icon="pi pi-eye"
                                                    class="p-button-text p-button-text p-button-secondary p-button-sm"
                                                    (click)="viewBlockDetails(block)"></button>
                                            </td>
                                            <td
                                                style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                {{block.block}}</td>
                                            <td
                                                style="max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                <ul class="ul-extrinsic">
                                                    <ng-container
                                                        *ngFor="let extrinsic of block.extrinsics; let i = index">
                                                        <li *ngIf="i <= 1"
                                                            [ngClass]="{ extrinsic: extrinsic.extrinsic == 'system.ExtrinsicSuccess'}"
                                                            class="latestExtrinsic">{{extrinsic.extrinsic}}</li>
                                                        <li *ngIf="i == 1">...</li>
                                                    </ng-container>
                                                </ul>
                                            </td>
                                            <td
                                                style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                {{convertMsToTime(block.timestamp)}}</td>
                                            <td
                                                style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                {{formatDate(convertMsToTime(block.timestamp))}}</td>
                                            <td
                                                style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                {{block.weight}}</td>
                                            <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                {{block.signature}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showBlockDetailsDialog" [style]="{width: '50vw'}" [modal]="true" [closable]="true">
    <ng-template pTemplate="header">
        <span class="text-2xl">
            Transaction Details
        </span>
    </ng-template>
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6">
            <div class="field">
                <label class="block">Hash:</label>
                <input type="text" pInputText readonly [style]="{'width':'100%'}" [(ngModel)]="currentBlock.hash" />
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-6">
            <div class="field">
                <label class="block">Blocks:</label>
                <input type="text" pInputText readonly [style]="{'width':'100%'}" [(ngModel)]="currentBlock.block" />
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <div class="field">
                <label class="block">Extrinsics:</label>
                <textarea type="text" pInputTextarea readonly [style]="{'width':'100%'}" rows="10"
                    [value]="getExtrinsincs(currentBlock.extrinsics)"></textarea>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6">
            <div class="field">
                <label class="block">Timestamp:</label>
                <input type="text" pInputText readonly [style]="{'width':'100%'}"
                    [value]="convertMsToTime(currentBlock.timestamp)" />
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-6">
            <div class="field">
                <label class="block">Weight:</label>
                <input type="text" pInputText readonly [style]="{'width':'100%'}" [(ngModel)]="currentBlock.weight" />
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <div class="field">
                <label class="block">Signature:</label>
                <input type="text" pInputText readonly [style]="{'width':'100%'}"
                    [(ngModel)]="currentBlock.signature" />
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <br />
        <br />
    </ng-template>
</p-dialog>